<div class="theme-layout webView" id="scrollup">

  <!-- <section class="overlape">
    <div class="block no-padding">
      <div data-velocity="-.1"
        style="background: url('../assets/images/bg2.jpg') repeat scroll 50% 422.28px transparent;"
        class="parallax scrolly-invisible no-parallax"></div>
      <div class="container fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="inner-header">
              <h3>Welcome {{company.name | titlecase}}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <section>
    <div class="block no-padding">
      <div class="container">
        <div class="row no-gape">
          <div class="col-lg-3 column border-right">
            <app-sidebar></app-sidebar>
          </div>
          <div class="col-lg-9 column">
            <div class="padding-left">
              <div class="manage-jobs-sec">
                <h3>Manage Jobs</h3>
                <div class="extra-job-info">
                  <span><i class="la la-clock-o"></i><strong>{{jobs}}</strong> Job Posted</span>
                  <span><i class="la la-file-text"></i><strong>{{application}}</strong> Application</span>
                  <span><i class="la la-users"></i><strong>{{activeJobs}}</strong> Active Jobs</span>
                </div>
                <table>
                  <thead>
                    <tr>
                      <td>Title</td>
                      <!--<td>Applications</td>-->
                      <td>Created & Expired</td>
                      <td>Status</td>
                      <td>Action</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let job of company.jobSet">
                      <td *ngIf="!job.deleted">
                        <div class="table-list-title">
                          <h3><a title="">{{job.jobTitle.nameEnglish}}</a></h3>
                          <span><i class="la la-map-marker"></i>{{job.completeAddress}}</span>
                        </div>
                      </td>
                      <!--  <td>
                      <span class="applied-field">3+ Applied</span>
                    </td>-->
                      <td *ngIf="!job.deleted">
                        <span>{{job.addedDate | date:'MMM dd, yyyy'}} -- </span>
                        <span>{{job.applicationDeadline | date:'MMM dd, yyyy'}}</span><br />
                      </td>
                      <td *ngIf="!job.deleted">
                        <span (click)="deActivateJob(job)" class="status active"><i
                            class="la la-pencil"></i>{{job.active?'Active':'Inactive'}}</span>
                      </td>
                      <td *ngIf="!job.deleted">
                        <ul class="action_job">
                          <li><span>View Job</span><a [routerLink]="['/job/view/'+job.id]" title=""><i
                                class="la la-eye"></i></a></li>
                          <li><span>Edit</span><a [routerLink]="['/company/post-job/'+job.id]" title=""><i
                                class="la la-pencil"></i></a></li>
                          <!--<li><span>Delete</span><a  (click)="deleteJob(job)" title=""><i class="la la-trash-o"></i></a></li>-->
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>