<div class="theme-layout webView" id="scrollup">
  <div *ngIf="this.showLoader" class="page-loading">
    <img alt="" src="../assets/images/loader.gif"/>
  </div>
  <!-- <section class="overlape">
    <div class="block no-padding" *ngIf="jobLoaded">
      <div data-velocity="-.1" style="background: url(http://placehold.it/1600x800) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div>
      <div class="container fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="inner-header">
              <h3>{{job.jobTitle.nameEnglish}}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <section>
    <div class="block" *ngIf="jobLoaded">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 column">
            <div class="job-single-sec style3">
              <div class="job-head-wide">
                <div class="row">
                  <div class="col-lg-8">
                    <div class="job-single-head3">
                      <div class="job-thumb">
                        <span><img [src]="job.company.companyProfilePic"
                                   alt="Place image title"
                                   *ngIf="!job.company.isImageLoading; else noImageFound">
                        <ng-template #noImageFound>
                                <img src="../../../assets/images/avatar-company.png" >
                          </ng-template></span>
                        <span>{{job.slots}} Open Position</span>
                      </div>
                      <div class="job-single-info3">
                        <h3>{{job.company.name}}</h3>
                        <span><i class="la la-map-marker"></i>{{job.completeAddress}}</span><span class="job-is ft">{{job.jobType.nameEnglish}}</span>
                        <ul class="tags-jobs">
                          <li><i class="la la-file-text"></i> Applications {{job.applied}}</li>
                          <li><i class="la la-calendar-o"></i> Post Date: {{job.addedDate  | date:'MMM dd, yyyy'}}</li>
                          <li><i class="la la-eye"></i> Views {{job.viewed}}</li>
                        </ul>
                      </div>
                    </div><!-- Job Head -->
                  </div>
                  <div class="col-lg-4" *ngIf="!isCompany">
                    <a (click)="applyJob(job.id)" *ngIf="!expired " class="apply-thisjob" title=""><i
                      class="la la-paper-plane"></i>{{jobApplied}}</a>
                    <a *ngIf="expired" class="apply-thisjob" style="background-color: #8b0300 !important;">
                      This job has expired
                    </a>
                  </div>
                </div>
              </div>
              <div class="job-wide-devider">
                <div class="row">
                  <div class="col-lg-8 column">
                    <div class="job-details">
                      <h3>Job Description</h3>
                      <p>{{job.description}}</p>

                    </div>
                    <div class="share-bar">
                      <span>Share</span><a title="" class="share-twitter"><i class="la la-linkedin"></i></a>
                    </div>
                    <div class="extra-job-info">
                      <span *ngIf="!expired"><i class="la la-clock-o"></i><strong>{{remainingDate}}</strong> Days</span>
                      <span *ngIf="expired" ><i class="la la-clock-o"></i><strong>EXPIRED</strong></span>
                      <span><i class="la la-file-text"></i><strong>{{job.applied}}</strong> Application</span>
                      <span><i class="la la-search-plus"></i><strong>{{job.viewed}}</strong> Displayed</span>
                    </div>

                  </div>
                  <div class="col-lg-4 column">
                    <div class="job-overview">
                      <h3>Job Overview</h3>
                      <ul>
                        <li><i class="la la-money"></i><h3>Offerd Salary</h3><span>{{job.offeredSalaryRange.nameEnglish}}</span></li>
                        <li><i class="la la-mars-double"></i><h3>Gender</h3><span>{{job.gender.nameEnglish}}</span></li>
                        <li><i class="la la-thumb-tack"></i><h3>Career Level</h3><span>{{job.careerLevel.nameEnglish}}</span></li>
                        <li><i class="la la-puzzle-piece"></i><h3>Industry</h3><span>{{job.industry.nameEnglish}}</span></li>
                        <li><i class="la la-shield"></i><h3>Experience</h3><span>{{job.experienceRange.nameEnglish}} Years</span></li>
                        <li><i class="la la-line-chart "></i><h3>Qualification</h3><span>{{job.qualification.nameEnglish}}</span></li>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

