<ng-container *access="{condition:['candidate_dashboard'],requiredAll:true,redirect:true}">
  <div class="theme-layout" id="scrollup">
    <div *ngIf="this.showLoader" class="page-loading">
      <img alt="" src="../assets/images/loader.gif" />
    </div>
    <section class="overlape">
      <div class="block no-padding">
        <div class="parallax layer color black2 no-parallax" data-velocity="-.1"
             style="background: url('../assets/images/bg2.jpg') repeat scroll 50% 570.28px transparent;"></div>
        <div class="container fluid">
          <div class="row">
            <div class="col-lg-12">
              <div class="inner-headerModified">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-6">
                      <!-- <div class="skills-btn">
                         <a *ngFor="let category  of candidate.categorySet;">{{category.nameEnglish}}</a>
                       </div>-->
                    </div>
                    <!-- <div class="col-lg-6">
                      <div class="action-inner-div17 division17link">
                        <div *ngIf="!this.candidate.candidateResume.pdfPath">
                          <a>
                            <input (change)="fileUpload($event)" [disabled]="uploadingFile" class="inputfile1" id="file"
                              type="file">
                            <i class="la la-upload"></i>
                            <label for="file">{{'Upload resume'}} </label>
                          </a>
                        </div>
                        <div *ngIf="this.candidate.candidateResume.pdfPath" class="division17link">
                          <a>
                            <input (change)="fileUpload($event)" [disabled]="uploadingFile" class="inputfile1"
                              id="file1" type="file">
                            <i class="la la-edit"></i>
                            <label for="file1">{{'Edit'}} </label>
                          </a>
                          <a (click)="getPDFFromService(this.candidate.candidateResume.pdfPath, 'pdf')" title="">
                            <i class="la la-eye"></i>
                            <span>View Resume</span>
                          </a>

                        </div>
                        <a href="{{email}}"><i class="la la-envelope-o"></i>Contact {{candidate.name | titlecase}}</a>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="overlape">
      <div class="block remove-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="cand-single-user">
                <div class="share-bar circle">
                  <a (click)="google()" *ngIf="this.candidate.candidateSocialInfo.google" class="share-google"
                    title="Google"><i class="la la-google"></i></a>
                  <a (click)="facebook()" *ngIf="this.candidate.candidateSocialInfo.facebook" class="share-fb"
                    target="_blank" title="Facebook"><i class="la la-facebook"></i></a>
                  <a (click)="twitter()" *ngIf="this.candidate.candidateSocialInfo.twitter" class="share-twitter"
                    target="_blank" title="Twitter"><i class="la la-twitter"></i></a>
                  <a class="share-twitter" href="{{email}}" title="Email"><i class="la la-envelope-o"></i></a>
                </div>
                <div class="can-detail-s">
                  <div class="cst">
                    <!--<img alt="" src="http://placehold.it/145x145"/>-->
                    <img *ngIf="!isImageLoading; else noImageFound" [src]="candidateProfilePic">
                    <ng-template #noImageFound>
                      <img src="../../../assets/images/avatar-black.png">
                    </ng-template>
                  </div>
                  <h3>{{candidate.name | titlecase}}</h3>
                  <div *ngFor="let workExp of this.candidate.candidateResume.candidateWorkExperiences">
                    <div *ngIf="workExp.present && !workExp.deleted">
                      <span><i>{{workExp.title}}</i> at {{workExp.company}}</span>
                    </div>
                  </div>
                  <p>{{candidate.candidateContactInfo.email}}</p>
                  <p>Member Since, {{candidate.addedDate | date:'MMM dd, yyyy'}}</p>
                  <p><i class="la la-map-marker"></i>{{candidate.candidateContactInfo.mapDetail}}
                    /{{candidate.candidateContactInfo.country ? candidate.candidateContactInfo.country.nameEnglish : ''}}
                  </p>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <a *ngIf="!this.candidate.candidateResume.pdfPath">
                      <input (change)="fileUpload($event)" [disabled]="uploadingFile" class="inputfile1" id="file"
                        type="file">
                      <i class="la la-upload"></i>
                      <label for="file">{{'Upload resume'}} </label>
                    </a>
                  </div>
                  <div *ngIf="this.candidate.candidateResume.pdfPath">
                    <a (click)="getPDFFromService(this.candidate.candidateResume.pdfPath, 'pdf')" title="">
                      <i class="la la-eye"></i>
                      <span style="margin-left:2px;margin-right:4px;">View Resume</span>
                    </a>
                    <a>
                      <input (change)="fileUpload($event)" [disabled]="uploadingFile" class="inputfile1" id="file1"
                        type="file">
                      <i class="la la-edit"></i>
                      <label for="file1" style="margin-left:-22px;">{{'Edit'}} </label>
                    </a>
                  </div>
                </div>
              </div>
              <div class="cand-details-sec">
                <div class="row">
                  <div class="col-lg-8 column">
                    <div class="cand-details" id="about">
                      <h2>Candidates About</h2>
                      {{candidate.description}}
                      <div class="edu-history-sec" id="education">
                        <h2>Education</h2>
                        <div *ngFor="let education of this.candidate.candidateResume.candidateEducations">
                          <div *ngIf="education.deleted != true">
                            <div class="edu-history">
                              <i class="la la-graduation-cap"></i>
                              <div class="edu-hisinfo">
                                <h3>{{education.educationType}}</h3>
                                <!-- <i
                                   *ngIf="education.startDate && education.endDate">{{education.startDate.getFullYear()}}
                                   - {{education.endDate.getFullYear()}}</i>-->
                                <h5>{{education.institute}}</h5>
                                <p>{{education.description}}</p>
                              </div>
                              <div class="editPosition">
                                <ul>
                                  <li class="signup-popup"><a
                                      (click)="openPopup(education,educationModal,'education','edit')" title=""><i
                                        class="la la-edit"></i> Edit</a></li>

                                  <li class="signup-popup"><a
                                      (click)="openPopup(education,deleteModal,'education','delete')" title=""><i
                                        class="la la-trash-o"></i>Delete</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <a (click)="addEducation(educationModal)" class="add" setposition="right" title=""><i
                            class="la la-plus-circle"></i> Add new</a>
                      </div>
                      <div class="edu-history-sec" id="experience">
                        <h2>Work & Experience</h2>
                        <div *ngFor="let workExp of this.candidate.candidateResume.candidateWorkExperiences">
                          <div *ngIf="!workExp.deleted">
                            <div class="edu-history style2">
                              <i></i>
                              <div class="row">
                                <div class="col-lg-10">
                                  <div class="edu-hisinfo">
                                    <h3>{{workExp.title}} <span>{{workExp.company}}</span></h3>
                                    <!-- <i
                                       *ngIf="!workExp.present && workExp.startDate && workExp.endDate">{{workExp.startDate | date:'MMM dd, yyyy'}}
                                       - {{workExp.endDate | date:'MMM dd, yyyy'}}</i>-->
                                    <p>{{workExp.description}}</p>
                                  </div>
                                </div>
                                <div class="col-lg-2">
                                  <div class="editPosition">
                                    <ul>
                                      <li><a (click)="openPopup(workExp,workExperienceModal,'workExperience','edit')"
                                          title=""><i class="la la-edit"></i> Edit</a></li>
                                      <li><a (click)="openPopup(workExp,deleteModal,'workExperience','delete')"
                                          title=""><i class="la la-trash-o"></i>Delete</a></li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <a (click)="addWorkExperiences(workExperienceModal)" class="add" setposition="right" title=""><i
                            class="la la-plus-circle"></i> Add new</a>
                      </div>
                      <!--<div class="mini-portfolio" id="portfolio">
                        <h2>Portfolio</h2>
                        <div class="mp-row">
                          <div class="mp-col">
                            <div class="mportolio"><img alt="" src="http://placehold.it/165x115"/><a href="#"
                                                                                                     title=""><i
                              class="la la-search"></i></a></div>
                          </div>
                          <div class="mp-col">
                            <div class="mportolio"><img alt="" src="http://placehold.it/165x115"/><a href="#"
                                                                                                     title=""><i
                              class="la la-search"></i></a></div>
                          </div>
                          <div class="mp-col">
                            <div class="mportolio"><img alt="" src="http://placehold.it/165x115"/><a href="#"
                                                                                                     title=""><i
                              class="la la-search"></i></a></div>
                          </div>
                          <div class="mp-col">
                            <div class="mportolio"><img alt="" src="http://placehold.it/165x115"/><a href="#"
                                                                                                     title=""><i
                              class="la la-search"></i></a></div>
                          </div>
                        </div>
                      </div>-->

                      <div class="edu-history-sec" id="skills">
                        <h2>Professional Skills</h2>
                        <div *ngFor="let skill of this.candidate.candidateResume.candidateProfessionalSkills">
                          <div *ngIf="skill.deleted != true">
                            <span>{{skill.skillHeading}}</span>
                            <progress-bar [color]="'#f64a84'" [progress]="skill.percentage">
                            </progress-bar>
                            <div class="editPosition">
                              <ul>
                                <li class="signup-popup"><a
                                    (click)="openPopup(skill,professionalSkillModal,'professionalSkill','edit')"
                                    title=""><i class="la la-edit"></i>Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                                    (click)="openPopup(skill,deleteModal,'professionalSkill','delete')" title=""><i
                                      class="la la-trash-o"></i>Delete</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <br /><br />
                        <a (click)="addProfessionalSkills(professionalSkillModal)" class="add" setposition="right"
                          title=""><i class="la la-plus-circle"></i> Add new skill</a>
                      </div>


                      <div class="edu-history-sec" id="awards">
                        <h2>Awards</h2>
                        <div *ngFor="let award of this.candidate.candidateResume.candidateAwards">
                          <div *ngIf="!award.deleted">
                            <div class="edu-history style2 ">
                              <i></i>
                              <div class="row">
                                <div class="col-lg-10">
                                  <div class="edu-hisinfo">
                                    <h3>{{award.title}}</h3>
                                    <p>{{award.description}}</p>
                                  </div>
                                </div>
                                <div class="col-lg-2">
                                  <div class="editPosition">
                                    <ul>
                                      <li><a (click)="openPopup(award,awardModal,'award','edit')" title=""><i
                                            class="la la-edit"></i>Edit</a></li>
                                      <li><a (click)="openPopup(award,deleteModal,'award','delete')" title=""><i
                                            class="la la-trash-o"></i>Delete</a></li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <a (click)="addAwards(awardModal)" class="add" setposition="right" title=""><i
                            class="la la-plus-circle"></i> Add new</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 column">
                    <div class="job-overview">
                      <h3><b>Job Overview</b></h3>
                      <ul>
                        <li><i class="la la-money"></i>
                          <h3>Offerd Salary</h3>
                          <span>{{this.candidate.currentSalaryMinimum ? this.candidate.currentSalaryMinimum : 'not specified'}}
                            -{{this.candidate.currentSalaryMaximum ? this.candidate.currentSalaryMaximum : 'not specified'}}</span>
                        </li>
                        <li><i class="la la-money"></i>
                          <h3>Expected Salary</h3>
                          <span>{{this.candidate.expectedSalaryMinimum ? this.candidate.expectedSalaryMinimum : 'not specified'}}
                            -{{this.candidate.expectedSalaryMaximum ? this.candidate.expectedSalaryMaximum : 'not specified'}}</span>
                        </li>
                        <li><i class="la la-mars-double"></i>
                          <h3>Gender</h3>
                          <span>{{this.candidate.gender ? this.candidate.gender.nameEnglish : 'not specified' }}</span>
                        </li>
                        <li><i class="la la-long-arrow-up"></i>
                          <h3>Age range</h3>
                          <span>{{this.candidate.ageRange ? this.candidate.ageRange.nameEnglish : 'not specified'}}</span>
                        </li>
                        <li><i class="la la-star"></i>
                          <h3>Career Level</h3>
                          <span>{{this.candidate.jobTitle ? this.candidate.jobTitle.nameEnglish : 'not specified'}}</span>
                        </li>
                        <!--<li><i class="la la-puzzle-piece"></i><h3>Industry</h3><span>Management</span></li>-->
                        <li><i class="la la-shield"></i>
                          <h3>Experience</h3>
                          <span>{{this.candidate.experienceRange ? this.candidate.experienceRange.nameEnglish : 'not specified'}}
                            years</span>
                        </li>
                        <li><i class="la la-graduation-cap"></i>
                          <h3>Qualification</h3>
                          <span>{{this.candidate.educationType ? this.candidate.educationType.nameEnglish : 'not specified'}}</span>
                        </li>
                        <li><i class="la la-language"></i>
                          <h3>Language</h3>
                          <span>{{this.candidate.language ? this.candidate.language.nameEnglish : 'not specified'}}</span>
                        </li>
                        <li><i class="la la-laptop "></i>
                          <h3>Skills</h3>
                          <div *ngFor="let skill of this.candidate.categorySet ; let isLast=last">
                            <span>{{skill.nameEnglish}}{{isLast ? '' : ', '}}</span>
                          </div>
                        </li>
                      </ul>
                    </div><!-- Job Overview -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <modal #educationModal>
    <modal-header>
      <h4><b>Education</b></h4>
      <button (click)="closeModal()" aria-label="Close" class="close" type="button">
        <span aria-hidden="true">×</span></button>
    </modal-header>

    <modal-content>
      <form [formGroup]="educationForm">
        <div *ngIf="selectedEducation">
          <div class="row">
            <div class="col-lg-12">
              <span [ngClass]="{'invalid-label':isFieldValid('title',educationForm)}" class="pf-title">Title</span>
              <div class="pf-field">
                <input [(ngModel)]="selectedEducation.title" class="form-control"
                  formControlName="title-{{selectedEducation.uuId}}" placeholder="title" type="text" />
              </div>
            </div>
            <div class="col-lg-12">
              <span class="pf-title">Degree Level</span>
              <div class="pf-field">
                <angular2-multiselect [(ngModel)]="selectedEducation.selectedEducationType" [data]="educationLevelsList"
                  [settings]="dropDownSettings" formControlName="educationLevel-{{selectedEducation.uuId}}">
                </angular2-multiselect>
              </div>
            </div>
            <div class="col-lg-6">
              <span class="pf-title">From Date</span>
              <div class="pf-field">
                <input [(ngModel)]="selectedEducation.startDate" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1"
                  class="form-control" formControlName="startDate-{{selectedEducation.uuId}}" placeholder="">
                <owl-date-time #dt1 pickerType="calendar"></owl-date-time>
              </div>
            </div>
            <div class="col-lg-6">
              <span class="pf-title">To Date</span>
              <div class="pf-field">
                <input [(ngModel)]="selectedEducation.endDate" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2"
                  class="form-control" formControlName="endDate-{{selectedEducation.uuId}}" placeholder="">
                <owl-date-time #dt2 pickerType="calendar"></owl-date-time>
              </div>
            </div>
            <div class="col-lg-12">
              <span class="pf-title">Institute</span>
              <div class="pf-field">
                <input [(ngModel)]="selectedEducation.institute" class="form-control"
                  formControlName="institute-{{selectedEducation.uuId}}" type="text" />
              </div>
            </div>
            <div class="col-lg-12">
              <span class="pf-title">Description</span>
              <div class="pf-field">
                <textarea [(ngModel)]="selectedEducation.description" class="form-control"
                  formControlName="description-{{selectedEducation.uuId}}" type="text"></textarea>
              </div>
            </div>

          </div>

          <div class="division17button">
            <button (click)="saveEducation(selectedEducation,'save')" *ngIf="action == 'add'"
              [disabled]="educationForm.controls['title-'+selectedEducation.uuId && 'institute-'+selectedEducation.uuId && 'educationLevel-'+selectedEducation.uuId && 'description-'+selectedEducation.uuId].invalid"
              class="btn btn-primary">
              Save
            </button>

            <button (click)="saveEducation(selectedEducation,'save')" *ngIf="action == 'edit'"
              [disabled]="educationForm.controls['title-'+selectedEducation.uuId || 'institute-'+selectedEducation.uuId || 'educationLevel-'+selectedEducation.uuId || 'description-'+selectedEducation.uuId].invalid"
              class="btn btn-primary">
              Save
            </button>
          </div>
        </div>
      </form>
    </modal-content>

    <modal-footer>
    </modal-footer>
  </modal>

  <modal #workExperienceModal>
    <modal-header>
      <h4><b>Work Experience</b></h4>
      <button (click)="closeModal()" aria-label="Close" class="close" type="button"><span
          aria-hidden="true">×</span></button>
    </modal-header>

    <modal-content>
      <form [formGroup]="workExperienceForm" class="login-form">
        <div *ngIf="selectedWorkExperience">
          <div class="row">
            <div class="col-lg-12">
              <span class="pf-title">Title</span>
              <div class="pf-field">
                <input [(ngModel)]="selectedWorkExperience.title" class="form-control"
                  formControlName="title-{{selectedWorkExperience.uuId}}" placeholder="title" required type="text" />
                <div
                  *ngIf="workExperienceForm.controls['title-'+selectedWorkExperience.uuId].invalid && workExperienceForm.controls['title-'+selectedWorkExperience.uuId].touched"
                  class="error-msgFullname">
                  <p [hidden]="!workExperienceForm.controls['title-'+selectedWorkExperience.uuId].errors.required">
                    *Please fill the title.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <span class="pf-title">From Date</span>
              <div class="pf-field">
                <input [(ngModel)]="selectedWorkExperience.startDate" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3"
                  class="form-control" formControlName="startDate-{{selectedWorkExperience.uuId}}" placeholder="">
                <owl-date-time #dt3 pickerType="calendar"></owl-date-time>
              </div>
            </div>
            <div class="col-lg-6">
              <span class="pf-title">To Date</span>
              <div class="pf-field">
                <input [(ngModel)]="selectedWorkExperience.endDate" [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4"
                  class="form-control" formControlName="endDate-{{selectedWorkExperience.uuId}}" placeholder="">
                <owl-date-time #dt4 pickerType="calendar"></owl-date-time>
              </div>
            </div>
            <div class="col-lg-2">
              <mat-checkbox [(ngModel)]="selectedWorkExperience.present" checked="{{selectedWorkExperience.present}}"
                class="remember-label" formControlName="present-{{selectedWorkExperience.uuId}}">Present
              </mat-checkbox>
            </div>
            <div class="col-lg-12">
              <span class="pf-title">Company</span>
              <div class="pf-field">
                <input [(ngModel)]="selectedWorkExperience.company" class="form-control"
                  formControlName="company-{{selectedWorkExperience.uuId}}" required type="text" />
                <div
                  *ngIf="workExperienceForm.controls['company-'+selectedWorkExperience.uuId].invalid && workExperienceForm.controls['company-'+selectedWorkExperience.uuId].touched"
                  class="error-msgFullname">
                  <p [hidden]="!workExperienceForm.controls['company-'+selectedWorkExperience.uuId].errors.required">
                    *Please fill the description.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <span class="pf-title">Description</span>
              <div class="pf-field">
                <textarea [(ngModel)]="selectedWorkExperience.description" class="form-control"
                  formControlName="description-{{selectedWorkExperience.uuId}}" required type="text"></textarea>
                <div
                  *ngIf="workExperienceForm.controls['description-'+selectedWorkExperience.uuId].invalid && workExperienceForm.controls['description-'+selectedWorkExperience.uuId].touched"
                  class="error-msgFullname">
                  <p
                    [hidden]="!workExperienceForm.controls['description-'+selectedWorkExperience.uuId].errors.required">
                    *Please fill the description.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="division17button">
            <button (click)="saveWorkExperience(selectedWorkExperience,'save')" *ngIf="action == 'add'"
              [disabled]="workExperienceForm.controls['title-'+selectedWorkExperience.uuId && 'company-'+selectedWorkExperience.uuId && 'description-'+selectedWorkExperience.uuId].invalid ">
              Save
            </button>
            <button (click)="saveWorkExperience(selectedWorkExperience,'save')" *ngIf="action == 'edit'"
              [disabled]="workExperienceForm.controls['title-'+selectedWorkExperience.uuId || 'company-'+selectedWorkExperience.uuId || 'description-'+selectedWorkExperience.uuId].invalid ">
              Save
            </button>
          </div>

        </div>
      </form>
    </modal-content>

    <modal-footer>
    </modal-footer>
  </modal>

  <modal #portfolioModal>
    <modal-header>
      Portfolio
      <button (click)="closeModal()" aria-label="Close" class="close" type="button"><span
          aria-hidden="true">×</span></button>
    </modal-header>

    <modal-content>
      Modal 2 body
    </modal-content>

    <modal-footer>

    </modal-footer>
  </modal>

  <modal #professionalSkillModal>
    <modal-header>
      <h4><b>Professional Skill</b></h4>
      <button (click)="closeModal()" aria-label="Close" class="close" type="button"><span
          aria-hidden="true">×</span></button>
    </modal-header>

    <modal-content>
      <form (submit)="saveProfessionalSkills(selectedProfessionalSkill,'save')"
        [formGroup]="candidateProfessionalSkillsForm">
        <div *ngIf="selectedProfessionalSkill">
          <div class="row">
            <div class="col-lg-10">
              <span class="pf-title">Skill Heading</span>
              <div class="pf-field">
                <input (input)="null" [(ngModel)]="selectedProfessionalSkill.skillHeading" class="form-control"
                  formControlName="skillHeading-{{selectedProfessionalSkill.uuId}}" required type="text" />
                <div
                  *ngIf="candidateProfessionalSkillsForm.controls['skillHeading-'+selectedProfessionalSkill.uuId].invalid && candidateProfessionalSkillsForm.controls['skillHeading-'+selectedProfessionalSkill.uuId].touched"
                  class="error-msgFullname">
                  <p
                    [hidden]="!candidateProfessionalSkillsForm.controls['skillHeading-'+selectedProfessionalSkill.uuId].errors.required">
                    *Please fill the heading.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-10">
              <span class="pf-title">Percentage</span>
              <div class="pf-field">
                <input (input)="null" [(ngModel)]="selectedProfessionalSkill.percentage" class="form-control"
                  formControlName="percentage-{{selectedProfessionalSkill.uuId}}" required type="text" />
              </div>

              <div *ngIf="percentageRange" class="error-msgFullname">
                <p
                  [hidden]="!candidateProfessionalSkillsForm.controls['percentage-'+selectedProfessionalSkill.uuId].errors">
                  *Percentage cannot be more than 100!!</p>
              </div>
              <div
                *ngIf="candidateProfessionalSkillsForm.controls['percentage-'+selectedProfessionalSkill.uuId].invalid && candidateProfessionalSkillsForm.controls['percentage-'+selectedProfessionalSkill.uuId].touched"
                class="error-msgFullname">
                <p
                  [hidden]="!candidateProfessionalSkillsForm.controls['percentage-'+selectedProfessionalSkill.uuId].errors.required">
                  *Please enter percentage.</p>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="selectedProfessionalSkill" class="division17button">
          <button *ngIf="action == 'add'"
            [disabled]="candidateProfessionalSkillsForm.controls['skillHeading-'+selectedProfessionalSkill.uuId && 'percentage-'+selectedProfessionalSkill.uuId].invalid">
            Save
          </button>
          <button *ngIf="action == 'edit'"
            [disabled]="candidateProfessionalSkillsForm.controls['skillHeading-'+selectedProfessionalSkill.uuId || 'percentage-'+selectedProfessionalSkill.uuId].invalid">
            Save
          </button>
        </div>
      </form>
    </modal-content>

    <modal-footer>


    </modal-footer>
  </modal>

  <modal #awardModal>
    <modal-header>
      <h4><b>Award</b></h4>
      <button (click)="closeModal()" aria-label="Close" class="close" type="button"><span
          aria-hidden="true">×</span></button>
    </modal-header>

    <modal-content>
      <form [formGroup]="candidateAwardsForm">
        <div *ngIf="selectedAward">
          <div class="row">
            <div class="col-lg-12">
              <span class="pf-title">Title</span>
              <div class="pf-field">
                <input [(ngModel)]="selectedAward.title" class="form-control"
                  formControlName="title-{{selectedAward.uuId}}" type="text">
                <div
                  *ngIf="candidateAwardsForm.controls['title-'+selectedAward.uuId].invalid && candidateAwardsForm.controls['title-'+selectedAward.uuId].touched"
                  class="error-msgFullname">
                  <p [hidden]="!candidateAwardsForm.controls['title-'+selectedAward.uuId].errors.required">
                    *Please fill the title.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <span class="pf-title">Start Date</span>
              <div class="pf-field">
                <input [(ngModel)]="selectedAward.startDate" [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5"
                  class="form-control" formControlName="startDate-{{selectedAward.uuId}}" type="text" />
                <owl-date-time #dt5 pickerType="calendar"></owl-date-time>
              </div>
            </div>

            <div class="col-lg-6">
              <span class="pf-title">End Date</span>
              <div class="pf-field">


                <input [(ngModel)]="selectedAward.endDate" [owlDateTimeTrigger]="dt6" [owlDateTime]="dt6"
                  class="form-control" formControlName="endDate-{{selectedAward.uuId}}" />
                <owl-date-time #dt6 pickerType="calendar"></owl-date-time>

              </div>
            </div>
            <div class="col-lg-12">
              <span class="pf-title">Description</span>
              <div class="pf-field">
                <textarea [(ngModel)]="selectedAward.description" class="form-control"
                  formControlName="description-{{selectedAward.uuId}}" type="text"></textarea>
                <div
                  *ngIf="candidateAwardsForm.controls['description-'+selectedAward.uuId].invalid && candidateAwardsForm.controls['description-'+selectedAward.uuId].touched"
                  class="error-msgFullname">
                  <p [hidden]="!candidateAwardsForm.controls['description-'+selectedAward.uuId].errors.required">
                    *Please fill the description.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="division17button">
            <button (click)="saveAwards(selectedAward,'save')" *ngIf="action == 'add'"
              [disabled]="candidateAwardsForm.controls['title-'+selectedAward.uuId && 'description-'+selectedAward.uuId].invalid">
              Save
            </button>
            <button (click)="saveAwards(selectedAward,'update')" *ngIf="action == 'edit'"
              [disabled]="candidateAwardsForm.controls['title-'+selectedAward.uuId || 'description-'+selectedAward.uuId].invalid">
              Save
            </button>
          </div>
        </div>
      </form>
    </modal-content>
    <modal-footer>
    </modal-footer>
  </modal>


  <modal #deleteModal>
    <modal-header>
      <h4><b>Confirmation</b></h4>
    </modal-header>

    <modal-content>
      <h4>Do you want to delete?</h4>
    </modal-content>

    <modal-footer>
      <div class="division17button">
        <button (click)="deleteObject(null)">No</button>
        <button (click)="deleteObject(this.objectType)">Yes</button>
      </div>
    </modal-footer>
  </modal>
</ng-container>
